<button id="logout-btn">Logout</button><br />
<span>Sort: </span><br />
<label for="sort-by-date">by Date</label>
<input type="radio" name="sort-by" id="sort-by-date" value="date" />
<label for="sort-by-date">by Title</label>
<input type="radio" name="sort-by" id="sort-by-title" value="title"/><br />
<label for="sort-by-date">in Ascending</label>
<input type="radio" name="sort-in" id="sort-in-ascending" value="ascending" />
<label for="sort-by-date">in Descending</label>
<input type="radio" name="sort-in" id="sort-in-descending" value="descending" /><br />
<button id="sort-btn">Sort</button><br />
<span>Items per page:</span>
<input type="text" id="tb-item-per-page" />
<button id="split-btn">Split</button>
<section id="posts-container">
</section>
<div>
    <span>New post</span><br />
    <label for="tb-new-post-title">Title:</label>
    <input type="text" id="tb-new-post-title" /><br />
    <label for="tb-new-post-body">Body:</label>
    <input type="text" id="tb-new-post-body" /><br />
    <button id="new-post-btn">Submit</button><br />
</div>