<div id="login-register-container">
    <span>Login</span><br />
    <label for="tb-login-username">Username:</label>
    <input type="text" id="tb-login-username" /><br />
    <label for="tb-login-password">Password:</label>
    <input type="text" id="tb-login-password" /><br />
    <button id="login-btn">Login</button><br />
    <span>Register</span><br />
    <label for="tb-register-username">Username:</label>
    <input type="text" id="tb-register-username" /><br />
    <label for="tb-register-password">Password:</label>
    <input type="text" id="tb-register-password" /><br />
    <button id="register-btn">Register</button>
</div>
<span>Sort: </span><br />
<label for="sort-by-date">by Date</label>
<input type="radio" name="sort-by" id="sort-by-date" value="date" />
<label for="sort-by-date">by Title</label>
<input type="radio" name="sort-by" id="sort-by-title" value="title"/><br />
<label for="sort-by-date">in Ascending</label>
<input type="radio" name="sort-in" id="sort-in-ascending" value="ascending" />
<label for="sort-by-date">in Descending</label>
<input type="radio" name="sort-in" id="sort-in-descending" value="descending" /><br />
<button id="sort-btn">Sort</button>
<span>Items per page:</span>
<input type="text" id="tb-item-per-page" />
<button id="split-btn">Split</button>
<section id="posts-container">
    
</section>